body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.Sidebar {
  background-color: #f1f1f1;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  position: fixed; /* Fixed positioning */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  transition: width 0.3s ease; /* Add transition effect for width */
}

.Sidebar img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.Sidebar h3 {
  margin: 0;
  margin-bottom: 20px;
}

.Sidebar a {
  display: block;
  color: #333;
  padding: 5px 0;
  text-decoration: none;
}

.Sidebar a:hover {
  background-color: #ddd;
}

.dashboard-container {
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; /* Enable vertical scrolling */
}

.Container1 {
  margin-bottom: 20px; /* Add margin between Container1 and Container */
}

.Container {
  width: 100%; /* Ensure containers take full width */
}

.choices,
.appointments {
  margin-bottom: 20px; /* Add margin between stacked containers */
}

.button,
.apt-table {
  width: 100%; /* Set width to 100% */
  margin-bottom: 10px; /* Add margin between stacked elements */
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 20px; /* Increase padding for more height */
  text-align: center;
  text-decoration: none;
  display: block; /* Change to block level for full width */
  width: calc(100% - 40px); /* Set width to 100% minus padding */
  margin: 10px auto; /* Center and add margin for spacing */
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition effect */
  line-height: 1.5; /* Set line height for proper alignment */
}



.button:hover {
  background-color: #45a049;
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.choices {
  display: flex;
}




.appointments {
  width: 68%;
}

.apt-table {
  margin-top: 20px;
}

.apt-table table {
  width: 100%;
  border-collapse: collapse;
}

.apt-table th,
.apt-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.apt-table th {
  background-color: #4CAF50;
  color: white;
}

.toggle-button {
  display: none; /* Initially hide toggle button */
}

@media only screen and (max-width: 768px) {
  .Sidebar {
      width: 0; /* Hide sidebar by default on smaller screens */
      overflow: hidden; /* Hide overflowing content */
  }

  .toggle-button {
      display: block; /* Show toggle button */
      cursor: pointer;
  }

  .Sidebar {
      width: 250px; /* Adjust sidebar width for smaller screens */
  }

  .dashboard-container {
      margin-left: 0; /* Remove left margin for full width on smaller screens */
  }
}