body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.Sidebar {
    background-color: #005A9C;
    color: white;
    padding: 20px;
    height: 100vh;
    width: 250px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}

.logo img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin-left: 50px;
    margin-bottom: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.dashboard-container {
    margin-left: 250px; /* Adjust margin to accommodate the sidebar */
    padding: 20px;
}

.dashboard-container h1 {
    margin-top: 20px;
}

.dashboard-container form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.dashboard-container form label {
    display: block;
    margin-bottom: 5px;
}

.dashboard-container form input[type="date"],
.dashboard-container form input[type="time"],
.dashboard-container form select,
.dashboard-container form textarea {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.dashboard-container form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard-container form button[type="submit"]:hover {
    background-color: #45a049;
}
table, th, td {
    border: 1px solid;
  }